# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# IDE / OS
.idea/
.vscode/
*.DS_Store
Thumbs.db
desktop.ini

# Logs & outputs
*.log
*.csv
reports/

# Jupyter
.ipynb_checkpoints/
